[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
psycopg2-binary = "*"
pyarabic = "*"
pygithub = "*"
django-q = "*"
requests = "*"
django-environ = "*"
gitpython = "*"
ipaddress = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
